@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  @apply max-w-7xl mx-auto p-4;
}

@media screen and (min-width: 640px) {
  .display-card:nth-child(2n + 1) {
    @apply flex-row-reverse;
  }
}

/* Article styles */
/* Write styles for all elements that can come inside an blog post */

.blog {
  @apply mx-auto leading-normal text-lg;
}

.blog * {
  @apply max-w-prose;
}

.blog h1 {
  @apply text-4xl font-bold;
}

.blog h2 {
  @apply text-3xl font-bold;
}

.blog h3 {
  @apply text-2xl font-bold;
}

.blog h4 {
  @apply text-xl font-bold;
}

.blog h5 {
  @apply text-lg font-bold;
}

.blog h6 {
  @apply text-base font-bold;
}

.blog p {
  @apply my-4;
}

.blog a {
  @apply text-blue-500 underline;
}

.blog ul {
  @apply list-disc list-inside;
}

.blog ol {
  @apply list-decimal list-inside;
}

.blog li {
  @apply my-2;
}

.blog blockquote {
  @apply border-l-4 border-gray-300 pl-4 my-4;
}

.blog img {
  @apply mx-auto my-4;
}

.blog pre {
  @apply my-4;
}

.blog code {
  @apply bg-gray-100 p-2 rounded;
}

.blog hr {
  @apply my-4;
}

.blog table {
  @apply w-full my-4;
}

.blog table th {
  @apply bg-gray-100 p-2;
}

.blog table td {
  @apply p-2;
}
